@font-face {
    font-family: "Planet Love";
    src: url("../Font/planetlove/Planet-love.woff") format("woff");
  }
  
  <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
  
    body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
  
  header {
    display: flex;
    align-items: flex-end;
    background: #971A99;
  }
  
  nav a:hover {
    text-decoration: underline;
    
  }
  
  .active {
    text-decoration: underline;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  nav a {
    color: #ffffff;
    font-family: "Planet Love";
    text-decoration: none;
    font-size: 22px;
  }
  
  nav li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
  }
  
  .mainlogo {
    width: 170px;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .pageheader {
    background-image: url("../purplebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
  }
  
  h1 {
    font-family: "Planet Love";
    text-align:right;
    font-size: 70pt;
    color: #ffffff;
    padding-right: 1em;
  }
  
  h2 {
    font-family: "Planet Love";
    text-align: center;
    font-size: 45pt;
    color: #971A99;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .singleimage {
    max-height: 350px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .singlecase p {
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
  }
  
  p {
    font-family: "Montserrat";
    color: white;
    margin: 1em;
  }
  
  .singlecase {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #971A99;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  
  .triplecase {
    display: flex;
    flex-direction: row;
  }
  
  .tripleimage {
    height: 170px;
  }
  
  .triplesection {
    display: flex;
    flex-direction: column;
    background-color: #971A99;
    margin: 1em;
  }
  
  .tripletext {
    color: white;
  }

  .doublecase {
    display: flex;
    flex-direction: row;
  }

  .doubleimage {
      max-height: 300px;
  }

  .doublesection {
    display: flex;
    flex-direction: column;
    background-color: #971A99;
    margin: 1em;
  }

  
  .newsletter {
    display: flex;
    flex-direction: column;
    background-color: #971A99;
    margin-bottom: 1em;
  }
  
  .newsletterform {
    margin: 1em;
  }
  
  form label {
    color: white;
    font-family: "Montserrat";
  }
  
  input[type="text"] {
    margin: 1em;
  }
  
  .sendsignup {
    font-family: "Montserrat";
    border: 2px solid white;
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 3em;
  }
  
  .bold {
    font-weight: bold;
  }
  
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }
  
  footer {
    background-color: #971A99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .logofooter {
    width: 3em;
    margin-top: 1em;
  }
  
  .footerdiv {
    text-align: center;
  }
  
  @media (min-width: 350px) and (max-width: 420px) {
  
  
  @media (min-width: 420px) and (max-width: 900px) {
   
  