  @font-face {
    font-family: "Planet Love";
    src: url("../Font/planetlove/Planet-love.woff") format("woff");
  }

  @font-face {
    font-family: "American Typewriter";
    src: url("../Font/AmericanTypewriter.ttc") format("ttc");
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  header {
    display: flex;
    align-items: flex-end;
    background: #fd7430;
  }


  nav a:hover {
    text-decoration: underline;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav a {
    color: #ffffff;
    font-family: "Planet Love";
    text-decoration: none;
    font-size: 22px;
  }

  nav li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
  }

  .mainlogo {
    width: 170px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .pageheader {
    background-image: url("../robotsbackground200kb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
  }

  h1 {
    font-family: "Planet Love";
    text-align: center;
    font-size: 70pt;
    color: #ffffff;
  }

  h2 {
    font-family: "Planet Love";
    text-align: center;
    font-size: 45pt;
    color: #fd7430;
  }

  .firstimagehomepage {
    max-height: 350px;
  }

  .maincase p {
    max-width: 550px;
  }

  p {
  font-family: "American Typewriter";
  }

  .maincase {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #fd7430;

  }

  footer {
    background-color:#fd7430;
  }

  @media (min-width: 100px) and (max-width: 399px) {
    header {
      flex-direction: column;
      align-items: center;
    }

    ul {
      flex-direction: column;
    }


    }

    

    @media (min-width: 400px) and (max-width: 563px) {
      header {
        flex-direction: column;
        align-items: center;
      }
    
      ul {
        flex-direction: column;
      }


    }
    
  /*text-shadow: 2px 2px grey; /*

  footer {
    background-color:#fd7430;
  }




  /*
  @media screen and (min-width: /* når du ser nav-items blir skvisa */) {
    /* Her er det kanskje lurt å legge inn burgermeny eller lignende også */
    /*
    header {
      flex-direction: column;
    }

    ul {
      flex-direction: column;
    }

  }
  /*


  /*
  .navelement {
    text-align: left;
    background: #fd7430;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  nav li {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    left: 50px;
    bottom: 35px;
  }




  h1 {
    font-family: "Planet Love";
    text-align: center;
    font-size: 70pt;
    color: #ffffff;
    text-shadow: 2px 2px black;
  }
  /*
  h2 {
    font-family: "Planet Love";
    color: #fd7430;
    text-align: center;
    font-size: 50pt;
  }

  /*
  .welcome {
    padding-top: 180px;
  }

  .pageheader {
    background-image: url("../robotsbackground200kb.jpg");
    margin-top: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
  }

  /*

  @media (min-width: 100px) and (max-width: 399px) {
    .navelement {
      background: #26b119;
    }
    nav li {
      display: block;
      padding-top: 2px;
      padding-left: 0;
    }
    .mainlogo {
      width: 90px;
      padding-bottom: 50px;
      padding-left: 75px;
    }
    nav a {
      font-size: 12px;
    }

    .pageheader {
      margin-top: 120px;
      background-size: 100%;
    }

    h1 {
      font-size: 17pt;
      margin-top: 50px;
    }
    .welcome {
      padding-top: 230px;
    }
  }

  @media (min-width: 400px) and (max-width: 563px) {
    .navelement {
      background: #12b3cf;
    }
    nav li {
      display: block;
      padding-top: 10px;
      margin-right: 60px;
    }
    .mainlogo {
      width: 140px;
      padding-bottom: 50px;
      padding-left: 100px;
    }
    nav a {
      font-size: 15px;
    }
    .pageheader {
      margin-top: 225px;
      background-size: 100%;
    }
    h1 {
      font-size: 25pt;
    }
    .welcome {
      padding-top: 250px;
    }
  }

  @media (min-width: 564px) and (max-width: 767px) {
    nav a {
      font-size: 11px;
      padding: 4px;
    }
    .navelement {
      background: #4de298;
    }
    .mainlogo {
      width: 85px;
      top: 40px;
    }
    nav li {
      margin-left: 4px;
      bottom: 13px;
      left: 18px;
    }
    h1 {
      font-size: 40pt;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    nav a {
      font-size: 16px;
      padding: 3px;
    }
    .navelement {
      background: #18e7e7;
    }
    .mainlogo {
      width: 110px;
    }
    nav li {
      margin-left: 10px;
      left: 40px;
    }
    h1 {
      font-size: 70pt;
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    nav a {
      font-size: 18px;
    }
    .navelement {
      background: #f82add;
    }
    nav li {
      display: inline-block;
      margin-left: 20px;
    }
    .mainlogo {
      width: 140px;
    }
  }

  @media (min-width: 1280px) and (max-width: 1439px) {
    nav a {
      font-size: 22px;
    }
    .navelement {
      background: #1ee73f;
    }
    .mainlogo {
      width: 170px;
    }
  }

  @media (min-width: 1440px) and (max-width: 1919px) {
    .navelement {
      background: #d41313;
    }
    .mainlogo {
      width: 190px;
    }
  }

  @media (min-width: 1920px) and (max-width: 3000px) {
    nav a {
      font-size: 30px;
    }
    .navelement {
      background: #06b83b;
    }
    .mainlogo {
      width: 210px;
    }
  }
  */
