@font-face {
  font-family: "Planet Love";
  src: url("../Font/planetlove/Planet-love.woff") format("woff");
}

.navelement {
  text-align: left;
  background: #fd7430;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  left: 50px;
  bottom: 35px;
}

nav a {
  color: #ffffff;
  padding: 10px;
  font-family: "Planet Love";
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: white;
  font-size: 40px;
}

.mainlogo {
  width: 157px;
}

@media (min-width: 360px) and (max-width: 399px) {
  .active {
    color: purple;
  }
  nav a {
    font-size: 10px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .active {
    color: yellow;
  }
  nav a {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .active {
    color: blue;
  }
  nav a {
    font-size: 17px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .active {
    color: orangered;
  }
  nav a {
    font-size: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .active {
    color: green;
  }
  nav a {
    font-size: 22px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .active {
    color: black;
  }
}

@media (min-width: 1920px) and (max-width: 3000px) {
  .active {
    color: yellowgreen;
  }
  nav a {
    font-size: 30px;
  }
}
