  @font-face {
    font-family: "Planet Love";
    src: url("../Font/planetlove/Planet-love.woff") format("woff");
  }

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    rel="stylesheet"
  />

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  header {
    display: flex;
    align-items: flex-end;
    background: #fd7430;
  }


  nav a:hover {
    text-decoration: underline;
    color: #D73B18;
  }

  .active {
    color:#D73B18;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav a {
    color: #ffffff;
    font-family: "Planet Love";
    text-decoration: none;
    font-size: 22px;
  }

  nav li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
  }

  .mainlogo {
    width: 170px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .pageheader {
    background-image: url("../robotsbackground200kb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
  }

  h1 {
    font-family: "Planet Love";
    text-align: center;
    font-size: 70pt;
    color: #ffffff;
  }

  h2 {
    font-family: "Planet Love";
    text-align: center;
    font-size: 45pt;
    color: #fd7430;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .singleimage {
    max-height: 350px; 
    padding-top: 70px;
    padding-bottom: 70px;
  }


  .singlecase p {
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
  }

  p {
    font-family: "Montserrat";
    color: white;
    margin: 1em;
  }

  .singlecase {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #fd7430;
    margin: 0 auto;
    margin-bottom: 1em;

  }

  .triplecase {
    display:flex;
    flex-direction: row;
  }

  .tripleimage {
    height: 170px;
  }

  .triplesection {
    display: flex;
    flex-direction: column;
    background-color: #fd7430;
    margin: 1em;
  }

.tripletext {
  color: white;
}

.newsletter {
  display:flex;
  flex-direction: column;
  background-color: #fd7430;
  margin-bottom: 1em;
}

.newsletterform {
  margin: 1em;
  display: flex;
}

form label {
  color:white;
  font-family: "Montserrat";
}

input[type=text] {
  margin: 1em;
}

.sendsignup {
  font-family: "Montserrat";
  border: 2px solid white;
  text-decoration: none;
  color:white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 3em;
}

.bold {
  font-weight: bold;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

  footer {
    background-color:#fd7430;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .logofooter {
    width: 3em;
    margin-top: 1em;
  }

  .footerdiv {
    text-align: center;
  }

  
 
  @media (min-width: 100px) and (max-width: 420px) {
    header {
      flex-direction: column;
      align-items: center;
    }

    ul {
      flex-direction: column;
    }

    .triplecase {
      flex-direction: column;
    }

    @media (min-width: 420px) and (max-width: 900px) {
      .pageheader {
        min-height: 400px;
      }
    
      h1 {
        font-size: 40pt;
      }


    .singlecase p {
      margin-left: none;
      margin-right: none;
      padding-bottom: none;
      padding-right: none;
      padding-left: none;
    }

    .singlecase {
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      background-color: #fd7430;
      margin: 0 auto;
      margin-bottom: 1em;
    }

    .singleimage {
      max-height: 250px; 
      padding-top: 2em;
      padding-bottom: 2em;
      }


  .triplecase {
    flex-direction: column;
    flex-wrap: wrap;
  }
}


  /*text-shadow: 2px 2px grey; /*

  footer {
    background-color:#fd7430;
  }




  /*
  @media screen and (min-width: /* når du ser nav-items blir skvisa */) {
    /* Her er det kanskje lurt å legge inn burgermeny eller lignende også */
    /*
    header {
      flex-direction: column;
    }

    ul {
      flex-direction: column;
    }

  }
  /*


  /*
  .navelement {
    text-align: left;
    background: #fd7430;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  nav li {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    left: 50px;
    bottom: 35px;
  }




  h1 {
    font-family: "Planet Love";
    text-align: center;
    font-size: 70pt;
    color: #ffffff;
    text-shadow: 2px 2px black;
  }
  /*
  h2 {
    font-family: "Planet Love";
    color: #fd7430;
    text-align: center;
    font-size: 50pt;
  }

  /*
  .welcome {
    padding-top: 180px;
  }

  .pageheader {
    background-image: url("../robotsbackground200kb.jpg");
    margin-top: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
  }

  /*

  @media (min-width: 100px) and (max-width: 399px) {
    .navelement {
      background: #26b119;
    }
    nav li {
      display: block;
      padding-top: 2px;
      padding-left: 0;
    }
    .mainlogo {
      width: 90px;
      padding-bottom: 50px;
      padding-left: 75px;
    }
    nav a {
      font-size: 12px;
    }

    .pageheader {
      margin-top: 120px;
      background-size: 100%;
    }

    h1 {
      font-size: 17pt;
      margin-top: 50px;
    }
    .welcome {
      padding-top: 230px;
    }
  }

  @media (min-width: 400px) and (max-width: 563px) {
    .navelement {
      background: #12b3cf;
    }
    nav li {
      display: block;
      padding-top: 10px;
      margin-right: 60px;
    }
    .mainlogo {
      width: 140px;
      padding-bottom: 50px;
      padding-left: 100px;
    }
    nav a {
      font-size: 15px;
    }
    .pageheader {
      margin-top: 225px;
      background-size: 100%;
    }
    h1 {
      font-size: 25pt;
    }
    .welcome {
      padding-top: 250px;
    }
  }

  @media (min-width: 564px) and (max-width: 767px) {
    nav a {
      font-size: 11px;
      padding: 4px;
    }
    .navelement {
      background: #4de298;
    }
    .mainlogo {
      width: 85px;
      top: 40px;
    }
    nav li {
      margin-left: 4px;
      bottom: 13px;
      left: 18px;
    }
    h1 {
      font-size: 40pt;
    }
  }




 
 
 
