.navelement {
  text-align: left;
  background: #fd7430;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  left: 70px;
}

nav a {
  color: #ffffff;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: white;
}

.mainlogo {
  max-height: 99px;
}
