@font-face {
  font-family: "Planet Love";
  src: url("../Font/planetlove/Planet-love.woff") format("woff");
}

.navelement {
  text-align: left;
  background: #fd7430;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  left: 50px;
  bottom: 35px;
}

nav a {
  color: #ffffff;
  padding: 10px;
  font-family: "Planet Love";
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: #fea252;
}

.mainlogo {
  width: 157px;
}

h1 {
  font-family: "Planet Love";
  text-align: center;
  font-size: 70pt;
  color: #ffffff;
}

.welcome {
  padding-top: 180px;
  text-shadow: 30px;
}

.pageheader {
  background-image: url("../robotsbackground200kb.jpg");
  margin-top: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: center;
}

@media (min-width: 100px) and (max-width: 399px) {
  .navelement {
    background: #26b119;
  }
  nav li {
    display: block;
    padding-top: 5px;
  }
  .mainlogo {
    width: 140px;
    padding-bottom: 50px;
    padding-left: 100px;
  }
  nav a {
    font-size: 12px;
  }
}

@media (min-width: 400px) and (max-width: 563px) {
  .navelement {
    background: #12b3cf;
  }
  nav li {
    display: block;
    padding-top: 10px;
    margin-right: 60px;
  }
  .mainlogo {
    width: 140px;
    padding-bottom: 50px;
    padding-left: 100px;
  }
  nav a {
    font-size: 15px;
  }
}

@media (min-width: 564px) and (max-width: 767px) {
  nav a {
    font-size: 11px;
    padding: 4px;
  }
  .navelement {
    background: #4de298;
  }
  .mainlogo {
    width: 85px;
    top: 40px;
  }
  nav li {
    margin-left: 4px;
    bottom: 13px;
    left: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav a {
    font-size: 15px;
    padding: 4px;
  }
  .navelement {
    background: #18e7e7;
  }
  .mainlogo {
    width: 110px;
  }
  nav li {
    margin-left: 10px;
    left: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  nav a {
    font-size: 18px;
  }
  .navelement {
    background: #f82add;
  }
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  .mainlogo {
    width: 140px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  nav a {
    font-size: 22px;
  }
  .navelement {
    background: #1ee73f;
  }
  .mainlogo {
    width: 170px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .navelement {
    background: #d41313;
  }
  .mainlogo {
    width: 190px;
  }
}

@media (min-width: 1920px) and (max-width: 3000px) {
  nav a {
    font-size: 30px;
  }
  .navelement {
    background: #06b83b;
  }
  .mainlogo {
    width: 210px;
  }
}
