@font-face {
  font-family: "Planet Love";
  src: url("../Font/planetlove/Planet-love.woff") format("woff");
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
}

.navelement {
  text-align: left;
  background: #fd7430;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  left: 50px;
  bottom: 35px;
}

nav a {
  color: #ffffff;
  padding: 10px;
  font-family: "Planet Love";
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  color: #fea252;
}

.mainlogo {
  width: 157px;
}

h1 {
  font-family: "Planet Love";
  text-align: center;
  font-size: 70pt;
  color: #ffffff;
  text-shadow: 2px 2px black;
}

h2 {
  font-family: "Planet Love";
  color: #fd7430;
  text-align: center;
  font-size: 50pt;
}

.welcome {
  padding-top: 180px;
}

.pageheader {
  background-image: url("../robotsbackground200kb.jpg");
  margin-top: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: center;
}
